.menu-filmes:first-of-type{
    margin-top: 8em;
}

.menu-filmes {
    padding: 0 3em;
}

.menu-filmes__titulo{
    color:var(--branco);
    padding-left:0.5em;
    font-size:20px;
}
.lista-filmes{
    display:flex;
    flex-wrap:wrap;
    margin: 2em auto;
    
}

.lista-filmes__imagem{
    color:red;
}

.lista-filmes__imagem{
    width:310px;
}

.menu-filmes:hover{
    color:var(--branco);
}
.lista-filmes__link{
    margin:auto 0.5em;
}
